:root {
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;

}
header {
    min-width: 500px;
}
.check-email {
    display: none;
}

.check-email-ok {
    font-family: 'Raleway', sans-serif;
    color: red;
    font-size: 1.5rem;
    margin: -15px 0 20px 40px;
}

.header-container{
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding-left: 1px;
}

.header-section-links a{
    font-size: 1.7rem;
    padding-right: 15px;
    text-decoration: none;
    vertical-align: top;
    color: var(--Desaturated-Blue);
}

a:hover {
   color: var(--Bright-Blue);
}

.main-section {
    height: auto;
    min-width: 500px;
}

.main-section-image {
    min-width: 504px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.main-section-image img{
    width: 450px; 
    margin-left: 10px;  
}

.main-section-descript {
    margin-top: 80px;
}

.main-section-descript h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.3rem;
    text-align: center;
    line-height: 4.5rem;
}

.main-section-descript .parrag {
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 27px; 
}

.main-section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section-input {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    display: block;
    min-width: 410px;
    height: 56px;
    padding-left: 30px;
    margin: 34px 39px;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 8px;
}

.main-section-input-red {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    display: block;
    min-width: 410px;
    height: 56px;
    padding-left: 30px;
    margin: 34px 39px;
    border: 1px solid red;
    border-radius: 8px;
}

.main-section-button {
    font-family: 'Open Sans', sans-serif;
    min-width: 410px;
    height: 56px;
    margin: -10px 39px;
    font-size: 1.9rem;
    border-radius: 8px;
    color: var(--Light-Grayish-Blue);
    background-color: var(--Bright-Blue);
    cursor: pointer;
}

.middle-section {
    min-width: 505px;
    margin-top: 50px;
}
.middle-section-bk-images {
    display: flex;
    justify-content: center;
}
.middle-section-bk-images .bk-image-desktop {
    width: 0;
    display: none;
}

.middle-section-bk-images .bk-image-mobile {
    min-width: 506px;
    margin: -4px;
}

.middle-section-container {
    background-color: hsla(240, 75%, 98%, 1);
}

.middle-section-image {
    min-width: 504px;
    display: flex;
    justify-content: center;
}
.middle-section-image img {
    width: 450px; 
    margin-left: 10px;
    padding-top: 67px;
}

.middle-section-description {
    margin-top: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-section-description h2 {
    font-size: 2.1rem;
    text-align: center;
    font-weight: 700;
}

.middle-section-description .middle-section-parragraph {
    font-size: 1.8rem;
    margin: 28px 10px 30px 20px;
    width: 93%;
    color: var(--Very-Dark-Blue);
    opacity: 0.9;
}

.middle-section-ref {
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 40px;
    color: var(--Moderate-Cyan);
    width: 223px;
    border-bottom: 1px solid;
}

.middle-section-ref span{
    background-image: url(/images/icon-arrow.svg);
    width: 23px;
    height: 20px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 8px;
}
 
.quotes-icon {
    padding-top: 33px;
}

.middle-section-ref-cont {
    display: flex;
    justify-content: center;
}

.middle-section-opinion{
    
    display: flex;
    justify-content: center;
    margin-top: 19px;
}


.middle-section-opinion-container{
    max-width: 79%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 31px;
    padding-right: 12px;
    line-height: 2.7rem;
    margin-bottom: 121px;
}

.middle-section-opinion-container .middle-sec-p{
    font-size: 1.5rem;
    padding-top: 8px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.middle-section-opinion-image {
    display: flex;
    margin-top: 18px;
    margin-bottom: 21px;
}

.middle-section-opinion-image img {
    width: 47px;
    height: 47px;
    border-radius: 23px;
}

.middle-section-opinion-image .middle-section-opinion-name {
    padding-left: 10px;
    font-size: 1.2rem;
}


.acces-today-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 506px;
    background-color: var(--Desaturated-Blue);
    color: white;
    font-family: 'Raleway', sans-serif;
}
.acces-today-descrip {
    padding: 40px 53px 30px 53px;
}

.acces-today-descrip h3{
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 23px;
}

.acces-today-descrip p {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.5rem
}
.acces-today-form {
    display: flex;
    justify-content: center;
}
.acces-today-cont {
    width: 73%;
    display: flex;
    flex-direction: column;
}
.acces-today-input {
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-size: 1.5rem;
    display: block;
    min-width: 351px;
    margin: 0 13px;
    height: 56px;
    padding-left: 12px;
    border: none;
}

.acces-today-button {
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-size: 1.5rem;
    color: var(--Light-Grayish-Blue);
    background-color: var(--Bright-Blue);
    display: block;
    min-width: 351px;
    margin: 12px 13px 50px 13px;
    height: 56px;
    padding-left: 12px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

footer{
    background-color: var(--Very-Dark-Blue);
    color: var(--Light-Grayish-Blue);
    min-width: 506px;
}

.footer-conctact {
    margin: 60px 0;
    line-height: 4.5rem;
}

.footer-main-container {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-bottom: 60px;
}
li {
    list-style: none;
    cursor: pointer;
}
.footer-list-contact li {
    font-size: 1.7rem;
}

.footer-list-sections {
    line-height: 4rem;
}

.footer-list-sections li {
    font-size: 1.5rem;
}

li:hover {
    color: var(--Desaturated-Blue);
}

button:hover {
    background-color: hsl(224, 74%, 52%);;
}